<div class="row justify-content-center">
    <div class="col-md-4 col-lg-2">
        <ng-container *ngIf="statusSelectP">
            <app-select-busqueda [seleccionadoId]="selectPage"
                (selectSeleccionado)="onSelectSeleccionadoP($event)" [nombreId]="nombreIdP"
                [nombreText]="nombreTextP" [dataSelect]="dataSelectP" [nombreLabel]="nombreLabelP">
            </app-select-busqueda>
        </ng-container>
    </div>
</div>


<div class="row">
    <app-banner></app-banner>
</div>
<div class="containe">
    <div class="row">
        <ng-container *ngIf="statusCards">
            <app-card class="col-md-4 py-3 px-2" *ngFor="let card of cards" [card]="card" [admin]="false"></app-card>
        </ng-container>
    </div>
</div>

