<mat-form-field class="col-12">
    <mat-label>{{nombreLabel}}</mat-label>
    <mat-select [(ngModel)]="seleccionadoId" (ngModelChange)="enviarSeleccionado()"
        (click)="onResetSelect()">
        <input class="inputFiltro" placeholder="Buscar ..." autocomplete="off" (keyup)="filtrarSelect()" type="text"
            [(ngModel)]="valorFiltrar">
        <mat-option *ngFor="let item of dataSelectBuscarResult" [disabled]="item.id === '0'"
            [value]="item.id">
            {{item.text}}
        </mat-option>
    </mat-select>
</mat-form-field>